@tailwind base;
@tailwind components;
@tailwind utilities;

a[hidden="hidden"] {
	display: none;
}

.table-responsive table tbody tr td {
	vertical-align: top;
}

.table-responsive table thead tr th {
	vertical-align: top;
}

input[name="bearsBiometryAnimalHandling[json_data_field]"] {
	display: none;
}
